<h2 class="welcome">Olá, seja bem-vindo <span class="username" id="username">Breno</span><span aria-hidden="true">👋</span></h2>
<hr>

<div class="infos">
  <label for="name">Nome Completo:</label>
  <div class="infos-values">
    <p id="display-name">Breno Sampaio</p>
  </div>
</div>

<div class="infos">
  <label for="name">Email:</label>
  <div class="infos-values">
    <p id="display-email">brenosg2310@gmail.com</p>
  </div>
</div>

<div class="link">
  <label for="name">Link de indicação:</label>
  <div class="infos-values info-values-link">
    <p id="referral-link">https://teste.com</p>
    <i class="ph ph-copy-simple" id="copy-ref-link" role="button" tabindex="0" aria-label="Copiar link de indicação"></i>
  </div>
</div>

<hr>

<div class="points">
  <label for="name">Pontuação Atual:</label>
  <p>OBS: Sua pontuação aumenta a cada pessoa que entra pelo seu link:</p>
  <h1 id="points-value">0</h1>
</div>
